<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Search for Friends", '/AddSearchFriends' %></li>
      <li><%= link_to "Nag Friends", '/NagFriends' %></li>
      <li><%= link_to "View Profiles", '/ViewOtherPersons' %></li>
	</ul>
  </nav>
</footer>


