<header>
  <%= image_tag("logo.png", :alt => "Nagster", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Main", '/Main' %></li>
      <li><%= link_to "Sign Out", root_path %></li>
    </ul>
  </nav>
</header>


