<header>
  <%= image_tag("logo.png", :alt => "Nagster", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Register", '/Register' %></li>
      <li><%= link_to "Sign in", '/LogOn' %></li>
    </ul>
  </nav>
</header>


